@import '../signup/signup.component.scss';

.signup-form.login-form {
   margin-top: 70px; 
}
@media only screen and (max-width : 1024px) {
    .signup-form.login-form {
        margin-top: 30px;
     }

}

.login-form-error{
    background-color:rgba(220,53,69,.8);
    color: white;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
} 
