<div class="form-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="signup-form login-form" >
    <h1 class="sign-up-form-header">Login</h1>
    <div><hr class="signup-form-line"></div>
    <div class="login-form-error" *ngIf="errors.nonFieldErrors">
      {{errors.nonFieldErrors[0]}}
    </div>
    <div class="signup-from-item">
      <label class="signup-form-item-label">Email</label>
      <input formControlName="email" class="signup-form-item-input" type="text">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
        <div class="signup-form-item-error" *ngIf="email.errors.required">
          email is required.
        </div>
        <div class="signup-form-item-error" *ngIf="email.errors.email">
          email is invalid
        </div>
      </div>
    </div>
    <div class="signup-from-item">
      <label class="signup-form-item-label">Password</label>
      <input formControlName="password" class="signup-form-item-input" type="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="signup-form-item-error" *ngIf="password.errors.required">
            password is required.
        </div>
      </div>
    </div>
    <button type="submit" class="signup-button extra-margin-15px">
      Login
    </button>
    <div class="signup-button-divider ">
        <hr class="signup-form-line"/>
        <label class="signup-form-item-label">or</label>
        <hr class="signup-form-line"/>
    </div>
    <button type="button" class="signup-button google">
      <span class="icon"></span>
      <span class="buttonText" (click)='googleButtonPress()'>Login with Google</span>
    </button>
    <p class="extra-margin-15px"> Not Registered ? 
      <a id="signup-form-login-link"routerLink="/signup">signup</a>
    </p>
  </form>
  <div *ngIf="isLoading" class="loader-container">
    <app-horizonal-loader></app-horizonal-loader>
  </div>
</div>
  