<form class="signup-form login-form" >
    <h1 class="sign-up-form-header">Login</h1>
    <div><hr class="signup-form-line"></div>
    <div class="signup-from-item">
      <label class="signup-form-item-label">Email</label>
      <input class="signup-form-item-input" type="text">
    </div>
    <div class="signup-from-item">
      <label class="signup-form-item-label">Password</label>
      <input class="signup-form-item-input" type="text">
    </div>
    <button type="button" (click)="onClick()" class="signup-button extra-margin-15px">
      Login
    </button>
    <div class="signup-button-divider ">
        <hr class="signup-form-line"/>
        <label class="signup-form-item-label">or</label>
        <hr class="signup-form-line"/>
    </div>
    <button class="signup-button google">
      <span class="icon"></span>
      <span class="buttonText">Login with Google</span>
    </button>
    <p class="extra-margin-15px"> Not Registered ? 
      <a id="signup-form-login-link"routerLink="/signup">signup</a>
    </p>
  </form>
  