<section class="entry-list">
  <div class="entry-list-header">
    <h1>
      Entries
    </h1>
    <a href="" routerLink="/newentry">Add Entry</a>
  </div>
  <div class="entry-list-filter">
    <div class="entry-list-filter-date">
      <p>Date Added</p>
      <div>
        <label for="">from:</label>
        <input type="date">
      </div>
      <div>
        <label for="">to:</label>
        <input type="date">
      </div>
      <button>Apply Filter</button>
    </div>
    <div class="entry-list-filter-sort">
      <p>Sort By:</p>
      <div>
        <select name="" id="">
            <option value="">
              date Addded (newest first)
            </option>
            <option value="">
                date Addded (oldest first)
              </option>
        </select>
        </div>
    </div>
  </div>
  <div>
    <div class="entry-list-item" *ngFor="let entry of entries">
      <h4>
        <a  [routerLink]="['/entry/', entry.id]">{{entry.title}}</a>
      </h4>
      <p>
        {{entry.content}}
      </p>
      <div class="entry-list-item-date">
        <p>
          last updated on {{entry.updatedAt | date:"h:mm a, MMM d, yyyy"}}
        </p>
        <div class="icon-container">
          <a [routerLink]="['/editEntry', entry.id]"><i class="fas fa-edit"></i></a>
          <i class="fas fa-trash-alt" (click)="showDeleteModal(entry.id)"> </i>
        </div>
      </div>
      <hr>
    </div>
    <div class="entry-list-item">
        <h4>
          lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
            consequat. Duis aute irure dolor in reprehenderit 
        </p>
        <div class="entry-list-item-date">
          <p>
            last updated on sept 7, 2018
          </p>
          <div class="icon-container">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <hr>
    </div>
    <div class="entry-list-item">
        <h4>
          lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
            consequat. Duis aute irure dolor in reprehenderit 
        </p>
        <div class="entry-list-item-date">
          <p>
            last updated on sept 7, 2018
          </p>
          <div class="icon-container">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <hr>
    </div>
    <div class="entry-list-item">
        <h4>
          lorem ipsum Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
            consequat. Duis aute irure dolor in reprehenderit 
        </p>
        <div class="entry-list-item-date">
          <p>
            last updated on sept 7, 2018
          </p>
          <div class="icon-container">
            <i class="fas fa-edit"></i>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <hr>
    </div>
  </div>
<section>