<section class="entry-list">
  <div class="entry-list-header">
    <h1>
      Entries
    </h1>
    <a href="" routerLink="/newentry">Add Entry</a>
  </div>
  <div class="entry-list-filter">
    <form role="form" [formGroup]="filterForm" (ngSubmit)="onFilter()" class="entry-list-filter-date">
      <p>Date Added</p>
      <div>
        <label for="">from:</label>
        <input formControlName="beginDate" type="date" [max]="maxDate" required>
      </div>
      <div>
        <label for="">to:</label>
        <input formControlName="endDate" type="date"  [max]="maxDate" required>
      </div>
      <button type="submit">Apply Filter</button>
      <a *ngIf="showFilterClear" id='clear-filter' (click)="onFilterClear()"> Clear Filter</a>
    </form>
    <div class="entry-list-filter-sort">
      <p>Sort By:</p>
      <div>
        <select [formControl]="sortControl" name="" id="">
            <option *ngFor="let option of sortOptions" [ngValue]="option">
              {{option.text}}
            </option>
        </select>
      </div>
    </div>
  </div>
  <div  infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" >
    <div class="entry-list-item" *ngFor="let entry of entries">
      <h4>
        <a  [routerLink]="['/entry/', entry.id]">{{entry.title}}</a>
      </h4>
      <p>
        {{entry.content}}
      </p>
      <div class="entry-list-item-date">
        <p>
          last updated on {{entry.updatedAt | date:"h:mm a, MMM d, yyyy"}}
        </p>
        <div class="icon-container">
          <a [routerLink]="['/editEntry', entry.id]"><i class="fas fa-edit"></i></a>
          <i class="fas fa-trash-alt" (click)="showDeleteModal(entry.id)"> </i>
        </div>
      </div>
      <hr>
    </div>
  </div>
<section>
<p *ngIf="noEntries"class="norecords">You have not Created any diary entries</p>
<p *ngIf="showNoFilter" class="norecords"> No entries exist that match filter date</p>
<app-bar-loader *ngIf="isLoading"></app-bar-loader>