@import '../../../styles.scss';

.form-container {
    max-width: 350px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.signup-form {
    margin-top: 30px;
    box-sizing: border-box;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid  #F8F9FA;
    border-radius: 2px;
    -moz-box-shadow:    3px 3px 10px 1px #ccc;
    -webkit-box-shadow: 3px 3px 10px 1px #ccc;
    box-shadow:         3px 3px 10px 1px #ccc;
}

.signup-form > *:not(.signup-from-password-group){
    margin: 7px 15px
}
.signup-from-password-group > * {
    margin: 7px 15px
}

.loader-container {
    margin: 0 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.signup-from-item {
    display: flex;
    flex-direction: column;
}
.signup-form-item-label {
    font-size: 14px;
    font-weight: 50;
    color: rgba($color: #000000, $alpha: 0.80)

}
.signup-form-item-input {
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 1px 0;
    border-width: 3px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    font-size: 16px;
    // outline: none;

    &:focus {
        border: 1px solid  $primary-color;
        
    }

}
%invalid_input {
    border: 1px solid rgba($color: red, $alpha: 0.90);
    &:focus {
        outline:  red auto 5px;
        outline-offset: -2px;
    }
} 
.ng-invalid.signup-form-item-input.ng-dirty {
    @extend %invalid_input;
}

input[type="email"].input-error.signup-form-item-input  {
    @extend %invalid_input;
}

.ng-valid.signup-form-item-input.ng-dirty {
    border: 1px solid rgba($color: green , $alpha: 0.90);
    &:focus {
        outline:  green auto 5px;
        outline-offset: -2px;
    }
}


.signup-form-item-error {
    font-size: 12px;
    color: red
}

.signup-form-line {
    border-color: rgba($color: #000000, $alpha: 0.10);
    border-width: 1px;
    width: 100%;
    box-sizing: border-box;
}

.signup-button {
    font-family: serif;
    font-size: 18px;
    padding: 2px 10px;
    border-radius: 2px;
    border-color: $primary-color;
    background-color: $primary-color;
    color: white;
    box-sizing: border-box;
}

.signup-button-divider {
    display: flex;
}
.signup-form-item-label {
    color: rgba($color: #000000, $alpha: 0.70);
}

#signup-form-login-link {
    text-decoration: none;
    &:hover {
        color: $primary-color;
        text-decoration: underline;
    }
}

.signup-form .extra-margin-15px {
    margin-top: 10px;
}

.signup-button.google {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    &:hover {
        cursor: pointer;
      }
}

span.icon {
    background: url('../../../assets/svgs/btn_google_light_normal_ios.svg') transparent no-repeat;
    width: 24px;
    height: 24px;
    background-size: cover;
  }
  span.buttonText {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px 42px 0px 0px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }