<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="signup-form">
  <h1 class="sign-up-form-header">Register</h1>
  <div><hr class="signup-form-line"></div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">First Name</label>
    <input formControlName="firstName" class="signup-form-item-input" type="text">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Last Name</label>
    <input formControlName="lastName" class="signup-form-item-input"type="text">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Email</label>
    <input formControlName="email" class="signup-form-item-input" type="email">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Password</label>
    <input formControlName="password" class="signup-form-item-input" type="password">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Password Again</label>
    <input formControlName="rePassword" class="signup-form-item-input" type="password">
  </div>
  <button type="submit" class="signup-button extra-margin-15px">
    Register
  </button>
  <div class="signup-button-divider ">
      <hr class="signup-form-line"/>
      <label class="signup-form-item-label">or</label>
      <hr class="signup-form-line"/>
  </div>
  <button type="button" class="signup-button google">
    <span class="icon"></span>
    <span class="buttonText">Sign up with Google</span>
  </button>
  <p class="extra-margin-15px"> Already Registered ? 
    <a id="signup-form-login-link"routerLink="/login">Login</a>
  </p>
</form>

