<form class="signup-form" action="">
  <h1 class="sign-up-form-header">Register</h1>
  <div><hr class="signup-form-line"></div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">First Name</label>
    <input class="signup-form-item-input" type="text">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Last Name</label>
    <input class="signup-form-item-input"type="text">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Email</label>
    <input class="signup-form-item-input" type="text">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Password</label>
    <input class="signup-form-item-input" type="text">
  </div>
  <div class="signup-from-item">
    <label class="signup-form-item-label">Password Again</label>
    <input class="signup-form-item-input" type="text">
  </div>
  <button class="signup-button extra-margin-15px">
    Register
  </button>
  <div class="signup-button-divider ">
      <hr class="signup-form-line"/>
      <label class="signup-form-item-label">or</label>
      <hr class="signup-form-line"/>
  </div>
  <button class="signup-button google">
    <span class="icon"></span>
    <span class="buttonText">Sign up with Google</span>
  </button>
  <p class="extra-margin-15px"> Already Registered ? 
    <a id="signup-form-login-link"routerLink="/login">Login</a>
  </p>
</form>
