<main class="landing-main">
  <div class="landing-main-picture">
    <img id="landing-main-picture-img" src="../../assets/images/the-journal-garden-vera-bitterer-682529-unsplash.jpg"/>
  </div>
  <div class="landing-main-content">
    <h1  class="landing-main-content-header">
      Keeping a Daily Journal Would Change Your Life
    </h1>
    <p class="landing-main-content-text">
        This keystone habit has so much power! By journaling in the morning and evening, you’ll quickly see the incongruencies in your life.<br>
        You’ll see crystal-clearly what needs to be removed and what should be included in your life. Journaling is a beautiful and powerful facilitator ofself-discovery. My own journaling is how I’ve come to form my sense of identity and path in life.<br>
        Not only will you have more clarity about your path in life, but journaling improves your ability to make small and large decisions along the way.<br>
    </p>
    <a routerLink="/signup" class="navbar-button-signup landing-main-button">SignUp</a>

  </div>
</main>
