@import '../commons/header/header.component.scss';

.landing-main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 120px;
    padding-top: 100px;
    display: flex;
    max-width: 1100px;
    widows: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}
.landing-main-picture {
    width: 47%;

}

.landing-main-content {
    width: 47%;
    
}
#landing-main-picture-img
{
    max-width: 100%;
    height: auto;
}
.landing-main-button {
    font-size: 24px;
    margin-left: 0px;
}
.landing-main-content-header {
    margin-top: 0px;
}
.landing-main-content-text {
    font-size: 18px;
}

@media only screen and (max-width : 1024px) {
    .landing-main {
        flex-flow: column nowrap ;
    }
    .landing-main-picture {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .landing-main-content {
        padding-top: 50px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .landing-main {
        padding-top: 0px;
        flex-flow: column nowrap ;
    }
    .landing-main-picture {
        display: none
    }

    .landing-main-content {
        padding-top: 5%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .landing-main-button {
        margin: auto;
        align-self: center;
    }
    
}